.App {
  text-align: center;
}


p{
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a{
  cursor: pointer;
  background-color: white;
  width: 4rem;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 0.7rem;
  text-decoration: none;
}

a:focus{
  outline: none;
}

a.green{
  border: 1px solid rgb(96, 213, 203);
  color: rgb(96, 213, 203);
  margin-bottom: 5px;
}

a.green:active{
  color: white;
  background-color: rgb(96, 213, 203);
}

a.red{
  border: 1px solid rgb(252, 133, 133);
  color: rgb(252, 133, 133);
}

a.red:active{
  color: white;
  background-color: rgb(252, 133, 133);
}

.addTitle{
  margin: 2rem 0 1rem;
  font-weight: 500;
  font-size: 1.3rem;
}
